#game-4 #title {
  margin-bottom: var(--spacing-4);

  color: var(--color-neutral-100);
  font-size: var(--text-4xl);
  text-align: center;
}

#game-4 #main {
  display: flex;  
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#game-4 .units {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

#game-4 .units > div {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
  flex-direction: column;
  padding: var(--spacing-4);
}

#game-4 .units > div > span {
  color: var(--color-neutral-100);
  font-size: var(--text-2xl);
  font-weight: bold;
}

#game-4 .battle {
  display: flex;
  gap: var(--spacing-20);
  justify-content: space-between;
}

#game-4 .battle > div {
  display: flex;
  gap: var(--spacing-4);
  flex-direction: column;
}

#game-4 .battle .computer-units .unit-life {
  transform: rotate(180deg);
}

#game-4 .battle-unit {
  display: flex;
  flex-direction: column;
}

#game-4 .battle-unit  img {
  width: 150px;
  height: 150px;
}

#game-4 .battle-unit .unit-life {
  width: 100%;
  display: flex;
  height: var(--spacing-4);
}

.battle-unit .unit-life span:first-child {
  background-color: var(--color-green-500);
}

.battle-unit .unit-life span:last-child {
  background-color: var(--color-red-500);
}

.battle-unit[data-life="0"] .unit-life span:first-child { width: 0% }
.battle-unit[data-life="1"] .unit-life span:first-child { width: 25% }
.battle-unit[data-life="2"] .unit-life span:first-child { width: 50% }
.battle-unit[data-life="3"] .unit-life span:first-child { width: 75% }
.battle-unit[data-life="4"] .unit-life span:first-child { width: 100% }

.battle-unit[data-life="0"] .unit-life span:last-child { width: 100% }
.battle-unit[data-life="1"] .unit-life span:last-child { width: 75% }
.battle-unit[data-life="2"] .unit-life span:last-child { width: 50% }
.battle-unit[data-life="3"] .unit-life span:last-child { width: 25% }
.battle-unit[data-life="4"] .unit-life span:last-child { width: 0% }

#game-4 #selected-units {
  display: flex;
  gap: var(--spacing-8);
}

#game-4 .select-unit.strong {
  border-color: var(--color-green-500);
}

#game-4 .select-unit.weak {
  border-color: var(--color-red-500);
}

#game-4 #selected-units div {
  width: 90px;
  height: 100px;
  position: relative;

  border: 5px solid var(--color-neutral-100);
}

#game-4 .result-title {
  color: var(--color-neutral-100);
  font-size: var(--text-7xl);
  margin-bottom: var(--spacing-2);
}

#game-4 .result-units {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
  flex-direction: column;
  margin: var(--spacing-6) var(--spacing-16) ;

  color: var(--color-neutral-100);
  font-size: var(--text-xl);
}

#game-4 .result-unit {
  display: flex;
  align-items: center;
  gap: var(--spacing-1);
  flex-direction: column;
  padding: var(--spacing-2);
}

#game-4 .result-units img {
  width: 100px;
}

#game-4 .result-winning-units div {
  background-color: var(--color-green-900);
}

#game-4 .result-losing-units div {
  background-color: var(--color-red-900);
}

 #game-4 .result-draws-units {
  text-align: center;
 }

#game-4 .result-draws-units div {
  display: flex;
  text-align: center;
  flex-direction: row;
}

#game-4 .result-draws-units div div {
  display: flex;
  flex-direction: column;

  background-color: var(--color-blue-900);
}

#game-4 .result-winning-units,
#game-4 .result-losing-units {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-16);
}

#game-4 .result-losing-units img {
  display: flex;
  flex-direction: column;

  filter: grayscale(1)
}

#game-4 .result-draws-units img {
  filter: grayscale(.5);
}

#game-4 .result-draws-units > div {
  display: flex;
  gap: var(--spacing-4);
}

#game-4 .select-unit {
  width: 150px;
  display: flex;
  cursor: pointer;
  width: fit-content;
  align-items: center;
  flex-direction: column;
  border: 5px solid transparent;
  
  background-color: var(--color-blue-500);
  
  transition: all .5s;
}

#game-4 .select-unit img {
  width: 100%;
  height: 100%;
}

#game-4 .select-unit:hover {
  border-color: var(--color-yellow-500);
}

#game-4 .select-unit span {
  color: var(--color-neutral-100);
  font-size: var(--text-base);
  font-weight: bold;
}

#game-4 .selected-unit {
  display: flex;
  width: fit-content;
  align-items: center;
  flex-direction: column;
  border: 5px solid transparent;
  
  background-color: var(--color-green-500);
  cursor: pointer;
  
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
}

#game-4 .selected-unit:hover {
  background-color: var(--color-red-500);
}

#game-4 .selected-unit img {
  width: 100%;
  height: 100%;
}

#game-4 .selected-unit span {
  color: var(--color-neutral-900);
  font-size: var(--text-sm);
  font-weight: bold;
}