#game-4 #title {
  margin-bottom: var(--spacing-4);

  color: var(--color-neutral-100);
  font-size: var(--text-4xl);
  text-align: center;
}

#game-4 #main {
  display: flex;  
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-10);
}

#game-4 #selected-units {
  display: flex;
  gap: var(--spacing-8);
}

#game-4 #selected-units > div {
  width: 100px;
  height: 100px;
  position: relative;
}

#game-4 #selected-units > div:not(:has(div)) {
  border: 5px solid var(--color-neutral-100);
}

#game-4 .units {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

#game-4 .units > div {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  flex-direction: column;
  padding: var(--spacing-4);
}

#game-4 .units > div > span {
  color: var(--color-neutral-100);
  font-size: var(--text-2xl);
  font-weight: bold;
}

#game-4 .battle {
  display: flex;
  gap: var(--spacing-20);
  justify-content: space-between;
}

#game-4 .battle > div {
  display: flex;
  gap: var(--spacing-4);
  flex-direction: column;
}

#game-4 .battle .computer-units .unit-life {
  transform: rotate(180deg);
}

#game-4 .battle-unit {
  display: flex;
  flex-direction: column;
}

#game-4 .battle-unit img {
  width: 150px;
  height: 150px;
}

#game-4 .battle-unit i {
  position: absolute;
  padding: var(--spacing-6);

  color: var(--color-neutral-100);
  font-size: var(--text-4xl);
  font-weight: bold;
}

#game-4 .battle-unit .unit-life {
  width: 100%;
  display: flex;
  height: var(--spacing-4);
}

.battle-unit .unit-life span:first-child {
  background-color: var(--color-green-500);
}

.battle-unit .unit-life span:last-child {
  background-color: var(--color-red-500);
}

.battle-unit[data-life="0"] .unit-life span:first-child { width: 0% }
.battle-unit[data-life="1"] .unit-life span:first-child { width: 50% }
.battle-unit[data-life="2"] .unit-life span:first-child { width: 100% }

.battle-unit[data-life="0"] .unit-life span:last-child { width: 100% }
.battle-unit[data-life="1"] .unit-life span:last-child { width: 50% }
.battle-unit[data-life="2"] .unit-life span:last-child { width: 0% }


#game-4 .result-title {
  color: var(--color-neutral-100);
  font-size: var(--text-5xl);
  font-weight: bold;
}

#game-4 .result-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#game-4 .top-units > div,
#game-4 .bottom-units > div {
  display: flex;
  gap: var(--spacing-10);
  align-items: space-around;
}

#game-4 .top-units h2,
#game-4 .bottom-units h2 {
  margin-bottom: var(--spacing-4);
  
  color: var(--color-neutral-100);
  text-align: center;
}

#game-4 .result-unit {
  display: flex;
  align-items: center;
  gap: var(--spacing-1);
  flex-direction: column;
  padding: var(--spacing-2);
  
  background-color: var(--color-blue-900);
}

#game-4 .result-unit i {
  color: var(--color-neutral-100);
  font-size: var(--text-xl);
  font-weight: bold;
}

#game-4 .result-unit span {
  color: var(--color-neutral-100);
  font-size: var(--text-lg);
}

#game-4 .result-unit img {
  width: 100px;
}

#game-4 .result-unit.won {
  background-color: var(--color-green-900);
}

#game-4 .result-unit.lose {
  background-color: var(--color-red-900);
}

#game-4 .result-unit.draw img {
  filter: grayscale(.5);
}

#game-4 .result-unit.lose img {
  filter: grayscale(1);
}

#game-4 .report-round {
  display: flex;
  gap: var(--spacing-10);
  align-items: space-around;
}

#game-4 .report-titles {
  width: 100%;
  display: flex;
  gap: var(--spacing-10);
  justify-content: space-evenly;

  color: var(--color-neutral-100);
  font-size: var(--text-4xl);
}

#game-4 .report-units {
  height: 50vh;
  display: flex;
  overflow-y: scroll;
  gap: var(--spacing-5);
  flex-direction: column;
}

#game-4 .report-unit {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#game-4 .report-unit i {
  color: var(--color-neutral-100);
  font-size: var(--text-2xl);
  text-align: center;
  font-weight: bold;
}

#game-4 .report-unit strong {
  padding-block: var(--spacing-1);

  background-color: var(--color-blue-500);
  color: var(--color-neutral-100);
  text-align: center;
}

#game-4 .report-unit img {
  width: 150px;
}

#game-4 .report-unit div {
  display: flex;
  height: var(--spacing-5);
}

#game-4 .report-unit div span:first-child {
  background-color: var(--color-green-500);
}

#game-4 .report-unit div span:last-child {
  background-color: var(--color-red-500);
}

.report-unit[data-life="0"] div span:first-child { width: 0% }
.report-unit[data-life="1"] div span:first-child { width: 50% }
.report-unit[data-life="2"] div span:first-child { width: 100% }

.report-unit[data-life="0"] div span:last-child { width: 100% }
.report-unit[data-life="1"] div span:last-child { width: 50% }
.report-unit[data-life="0"] div span:last-child { width: 0% }

#game-4 .unit {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-2);
  
  background-color: var(--color-blue-500);
  color: var(--color-neutral-100);

  transition: background-color .5s;
}

#game-4 .unit .unit-name {
  margin-top: var(--spacing-2);
}

#game-4 .unit.hover-select:hover {
  background-color: var(--color-yellow-500);
  color: var(--color-neutral-900);
  cursor: pointer;
}

#game-4 .unit.hover-selected:hover {
  background-color: var(--color-red-500);
  color: var(--color-neutral-900);
  cursor: pointer;
}