#game-4 #title {
  margin-bottom: var(--spacing-4);

  color: var(--color-neutral-100);
  font-size: var(--text-4xl);
  text-align: center;
}

#game-4 #main {
  display: flex;  
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-10);
}

#game-4 #selected-units {
  display: flex;
  gap: var(--spacing-8);
}

#game-4 #selected-units > div {
  width: 100px;
  height: 100px;
  position: relative;
}

#game-4 #selected-units > div:not(:has(div)) {
  border: 5px solid var(--color-neutral-100);
}

#game-4 .units {
  display: flex;
  text-align: center;
}

#game-4 .units > div {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  flex-direction: column;
  padding: var(--spacing-4);
}

#game-4 .units > div > span {
  color: var(--color-neutral-100);
  font-size: var(--text-4xl);
  font-weight: bold;
}

#game-4 .units > div > div {
  width: 50%;
}

#game-4 .battle {
  display: flex;
  gap: var(--spacing-20);
  justify-content: space-between;
}

#game-4 .battle > div {
  display: flex;
  gap: var(--spacing-4);
  flex-direction: column;
}

#game-4 .result-title {
  color: var(--color-neutral-100);
  font-size: var(--text-5xl);
  font-weight: bold;
}

#game-4 .result-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#game-4 .top-units > div,
#game-4 .bottom-units > div {
  display: flex;
  gap: var(--spacing-10);
  align-items: space-around;
}

#game-4 .top-units h2,
#game-4 .bottom-units h2 {
  margin-bottom: var(--spacing-4);
  
  color: var(--color-neutral-100);
  font-size: var(--text-3xl);
  text-align: center;
}

#game-4 .report-titles {
  width: 100%;
  display: flex;
  gap: var(--spacing-10);
  justify-content: space-evenly;

  color: var(--color-neutral-100);
  font-size: var(--text-4xl);
}

#game-4 .report-header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--spacing-10);
  justify-content: space-between;
}

#game-4 .report-header span {
  color: var(--color-neutral-100);
  font-weight: bold;
  font-size: var(--text-5xl);
}

#game-4 .report-units {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-5);
  flex-direction: column;
}

#game-4 .report-units > div {
  width: 100%;
  display: flex;
  gap: var(--spacing-10);
  justify-content: space-evenly;
}

#game-4 .report-units strong {
  color: var(--color-neutral-100);
  font-size: var(--text-4xl);
  text-align: center;
}

#game-4 .unit {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: var(--spacing-2);

  background-color: var(--color-blue-500);
  color: var(--color-neutral-100);

  transition: background-color .5s;
}

#game-4 .unit .unit-name {
  margin-bottom: var(--spacing-2);

  font-size: var(--text-lg);
  text-align: center;
}

#game-4 .unit.hover-select:hover {
  background-color: var(--color-yellow-500);
  color: var(--color-neutral-900);
  cursor: pointer;
}

#game-4 .unit.hover-selected:hover {
  background-color: var(--color-red-500);
  cursor: pointer;
}

#game-4 .unit-index {
  font-weight: bold;
  position: absolute;
  top: var(--spacing-12);
  left: var(--spacing-8);

  font-size: var(--text-5xl);
}

#game-4 .unit div {
  display: flex;
  height: var(--spacing-5);
}

#game-4 .unit div span:first-child {
  background-color: var(--color-green-500);
}

#game-4 .unit div span:last-child {
  background-color: var(--color-red-500);
}

#game-4 .unit[data-life="0"] div span:first-child { width: 0% }
#game-4 .unit[data-life="1"] div span:first-child { width: 50% }
#game-4 .unit[data-life="2"] div span:first-child { width: 100% }

#game-4 .unit[data-life="0"] div span:last-child { width: 100% }
#game-4 .unit[data-life="1"] div span:last-child { width: 50% }
#game-4 .unit[data-life="2"] div span:last-child { width: 0% }

#game-4 .unit[data-result="won"] { background: var(--color-green-700) }
#game-4 .unit[data-result="draw"] { background: var(--color-blue-700) }
#game-4 .unit[data-result="lose"] { background: var(--color-red-700) }

#game-4 .unit[data-result="won"] img { filter: grayscale(0) }
#game-4 .unit[data-result="draw"] img { filter: grayscale(.5) }
#game-4 .unit[data-result="lose"] img { filter: grayscale(1) }