#game_1 {
  width: 100%;
  height: 100%;
}

#game_1 #message {
  width: 100%;
  display: flex;
  align-items: center;
  height: var(--spacing-16);
  justify-content: space-evenly;
  margin-bottom: var(--spacing-8);

  color: var(--color-neutral-100);
  font-size: var(--text-4xl);
  text-align: center;
}

#game_1 #message .price {
  font-weight: bolder;
  font-style: italic;
}

#game_1 #message span {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
}

#game_1 #message img {
  width: 3rem;
}

#game_1 .resources {
  gap: var(--spacing-8);
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: var(--spacing-20);
  justify-content: space-around;
}

@keyframes increase {
  from { transform: translateY(5px) }
  to { transform: translateY(-20px) }
}

@keyframes decrease {
  from { transform: translateY(5px) }
  to { transform: translateY(30px) }
}

#animation-gold,
#animation-wood,
#animation-food,
#animation-stone {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.animation-increase {
  right: 0;
  position: absolute;

  animation-duration: 1s;
  animation-name: increase;
}

.animation-decrease {
  right: 0;
  position: absolute;

  animation-duration: 1s;
  animation-name: decrease;
}

#game_1 .resources {
  padding: var(--spacing-4);
  margin-bottom: var(--spacing-8);

  box-shadow: inset 0 0 50px 20px var(--color-neutral-900);
  border-block: 2px solid var(--color-orange-500);
}

#game_1 .resources > div {
  display: flex;
  position: relative;
  align-items: center;
  gap: var(--spacing-4);
}

#game_1 .resources img {
  height: var(--spacing-12);
}

#game_1 .resources > div span {
  color: var(--color-neutral-100);
  font-size: var(--text-4xl);
  font-weight: bolder;
}

#game_1 .market {
  display: flex;
  justify-content: space-between;
  padding-right: var(--spacing-12);
}

#game_1 .market .image {
  margin-right: var(--spacing-8);
  display: flex;
  align-items: center;
}

#game_1 .market .image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#game_1 .exchange {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

#game_1 .sell, 
#game_1 .buy {
  display: flex;
  gap: var(--spacing-4);
}

#game_1 .exchange button {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: var(--spacing-24);
  height: var(--spacing-24);
  
  
  box-shadow: inset 0px 0px 10px 5px var(--color-neutral-900);
  border: 2px solid var(--color-neutral-500);
  font-size: var(--text-xl);
  background: transparent;
  cursor: pointer;

  transition: all .2s;
  position: relative;
}

#game_1 .exchange button img {
  z-index: 1;
  position: absolute;
  width: var(--spacing-12);
  bottom: var(--spacing-6);
}

#game_1 .exchange button .price {
  z-index: 10;
  position: absolute;
  top: var(--spacing-2);
  left: var(--spacing-2);

  color: var(--color-neutral-100);
  font-weight: bolder;
}

#game_1 .exchange button .type {
  z-index: 10;
  position: absolute;
  bottom: var(--spacing-2);

  color: var(--color-neutral-100);
}

#game_1 .exchange button:disabled {
  cursor: not-allowed;
  filter: brightness(.5);
}

#game_1 .exchange button:not(:disabled):hover {
  filter: brightness(1.2);
}