.relic {
  position: relative;

  width: 500px;
  height: 500px;
}

.relic .image {
  position: absolute;
}

.relic .reflection {
  filter: brightness(200%);

  animation-duration: 2s;
  animation-name: reflection;
  animation-iteration-count: infinite;
}

@keyframes reflection {
  0% {
    clip-path: polygon(0 100%, 100% 100%, 100% 110%, 0 110%);
  }

  100% {
    clip-path: polygon(0 -10%, 100% -10%, 100% 0%, 0% 0%);
  }
}