#game_2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  color: var(--color-neutral-100);
}

#game_2 .header {
  text-align: center;
}

#game_2 .header #title {
  font-size: var(--text-5xl);
  margin-bottom: var(--spacing-8);
}

#game_2 #main {
  display: flex;
  align-items: center;
  justify-content: center;
}

#game_2 .chooseUnits {
  display: flex;
  gap: var(--spacing-4);
  padding-top: var(--spacing-20);
  padding-inline: var(--spacing-4);
}

#game_2 .button-unit {
  display: flex;
  cursor: pointer;
  position: relative;
  width: fit-content;
  align-items: center;
  flex-direction: column;
  
  border: 5px solid transparent;
  background-color: var(--color-blue-500);
  
  transition: all .5s;
}

#game_2 .button-unit:hover {
  background-color: var(--color-yellow-500);
}

#game_2 .button-unit .name {
  color: var(--color-neutral-900);
  font-size: var(--text-3xl);
  font-weight: bold;
}

#game_2 .button-unit img {
  width: 100%;
}

#game_2 .button-unit.win {
  background-color: var(--color-green-500);
}

#game_2 .button-unit.lose {
  background-color: var(--color-red-500);
}

#game_2 .button-unit .info {
  top: -1rem;
  position: absolute;
  transform: translateY(-100%); 
}

#game_2 .button-unit .info.win,
#game_2 .button-unit .info.lose {
  font-size: var(--text-5xl);
  font-weight: bold;
}

#game_2 .button-unit .info.win {
  color: var(--color-green-500);
}

#game_2 .button-unit .info.lose {
  color: var(--color-red-500);
}

#game_2 .result {
  display: flex;
  align-items: center;
  gap: var(--spacing-16);
  flex-direction: column;
}

#game_2 #title-result {
  font-size: var(--text-6xl);
  
  font-weight: bold;
}

#game_2 .result .units {
  display: flex;
  gap: var(--spacing-16);
  justify-content: space-evenly;
}

#game_2 .result .units .unit i {
  padding-bottom: var(--spacing-4);
}

#game_2 .result .units .unit {
  display: flex;
  align-items: center;
  flex-direction: column;
  
  font-size: var(--text-4xl);
}

#game_2 .result .units .unit div {
  display: flex;
  align-items: center;
  flex-direction: column;
  
  border: 5px solid transparent;
  background-color: var(--color-blue-500);
  color: var(--color-neutral-900);
}

#game_2 .result .units .unit div span {
  font-weight: bold;
}

#game_2 .result .units .unit div img {
  width: 100%;
}

#game_2 .result .units .unit[data-result='draw'] > div { background-color: var(--color-blue-500) }
#game_2 .result .units .unit[data-result='won'] > div { background-color: var(--color-green-500) }
#game_2 .result .units .unit[data-result='lose'] > div { background-color: var(--color-red-500) }

#game_2 .result .units .unit[data-result='draw'] > div  img { filter: grayscale(50%) }
#game_2 .result .units .unit[data-result='won'] > div  img { filter: grayscale(0%) }
#game_2 .result .units .unit[data-result='lose'] > div  img { filter: grayscale(100%) }