#game_2 {
  color: #FFFFFF;
  display: grid;
  grid-template-rows: 20vh 1fr;
  gap: 2rem;


  width: 100%;
  height: 100%;
}

#game_2 .header {
  text-align: center;
  margin-top: 2rem;
}

#game_2 .header h2 {
  font-size: 2rem;
}

#game_2 .header #subtitle {
  margin-block: 1rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-evenly;
}

#game_2 .chooseUnits {
  display: flex;
  gap: 1rem;
  padding-inline: 1rem;
  padding-top: 5rem;
}

#game_2 .unitDetails {
  padding-inline: 5rem;
}

#game_2 .unitDetails h3 {
  color: #FFA32F;
  font-size: 3rem;
  text-align: center;
}

#game_2 .unitDetails .info {
  display: grid;
  margin-top: 2rem;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

#game_2 .unitDetails .info .unitImg {
  border: 4px solid #FFA32F;
  height: 100%;
}   

#game_2 .unitDetails .counters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#game_2 .unitDetails .counters h4 {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

#game_2 .unitDetails .counters .win,
#game_2 .unitDetails .counters .lose {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

#game_2 .unitDetails .counters .win img,
#game_2 .unitDetails .counters .lose img{
  width: 50%;
}

#game_2 .unitDetails .counters .win #winUnits,
#game_2 .unitDetails .counters .lose #loseUnits {
  display: flex;
  gap: 1rem;
}

#game_2 .unitDetails .counters .win #winUnits div,
#game_2 .unitDetails .counters .lose #loseUnits div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game_2 .result {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  
}

#game_2 .button-icon {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .25rem;
  color: #FFFFFF;
  filter: brightness(.8);
  position: relative;
}

#game_2 .button-icon img {
  border: 2px solid white;
  width: 100%;
}

#game_2 .button-icon span {
  font-weight: bold;
  font-size: 1.5rem;
  position: absolute;
  top: -1rem;

  transform: translateY(-100%); 
}

#game_2 .button-icon:hover img {
  border-color: #FFA32F;
}

#game_2 .button-icon:hover {
  filter: brightness(1.2);
  color: #FFA32F;
}

#game_2 #result {
  text-align: center;
  margin-top: 5rem;
}