#game_2 {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;

  width: 100%;
  height: 100%;
}

#game_2 .header {
  text-align: center;
}

#game_2 .header #title {
  font-size: 3rem;
}

#game_2 .header #subtitle {
  margin-block: 1rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-evenly;
}

#game_2 #main {
  display: flex;
  align-items: center;
  justify-content: center;
}

#game_2 .chooseUnits {
  display: flex;
  gap: 1rem;
  padding-inline: 1rem;
  padding-top: 5rem;
}

#game_2 .result {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

#game_2 .result #title {
  color: #FFA32F;
  font-size: 2rem;
}

#game_2 .result .units {
  display: flex;
  justify-content: space-evenly;
  gap: 4rem;
}

#game_2 .result .units .unit {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

#game_2 .result .units .unit img {
  border: 4px solid #FFFFFF;
}

#game_2 .result .units .unit[data-wins=true] {
  color: #FFA32F;
}

#game_2 .result .units .unit[data-wins=true] img {
  border-color: #FFA32F;
  filter: brightness(1.2);
}

#game_2 .result .units .unit[data-wins=false] img {
  filter: brightness(.8);
}

#game_2 .button-icon {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .25rem;
  color: #FFFFFF;
  filter: brightness(.8);
  position: relative;
}

#game_2 .button-icon img {
  border: 4px solid white;
  width: 100%;
}

#game_2 .button-icon .name {
  font-weight: bold;
  font-size: 1.5rem;
  position: absolute;
  top: -1rem;

  transform: translateY(-100%); 
}

#game_2 .button-icon .info {
  font-size: 1.5rem;
  position: absolute;
  bottom: -1rem;

  transform: translateY(100%); 
}

#game_2 .button-icon:hover img {
  border-color: #FFA32F;
}

#game_2 .button-icon:hover {
  filter: brightness(1.2);
  color: #FFA32F;
}

#game_2 #result {
  text-align: center;
  margin-top: 5rem;
}