#game_3 {
  width: 100%;
  height: 100%;
  display: flex;
  gap: var(--spacing-8);
  flex-direction: column;  
  justify-content: center;
}

#game_3 #header {
  text-align: center;
}

#game_3 #header h2 {
  color: var(--color-neutral-100);
  font-size: var(--text-5xl);
}

#game_3 #main {
  display: flex;
  text-align: center;
  align-items: center;
  gap: var(--spacing-8);
  flex-direction: column;
}

#game_3 #main p {
  margin-bottom: var(--spacing-4);

  color: var(--color-neutral-100);
  font-size: var(--spacing-8);
}

#game_3 .gates {
  width: 100%;
  display: flex;
  gap: var(--spacing-8);
  padding: var(--spacing-8);
}

#game_3 .button-gate {
  flex: 1;
  aspect-ratio: 1 / 1;

  overflow: hidden;
  position: relative;
  box-sizing: content-box;
}

#game_3 .button-gate img {
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

#game_3 .button-gate #gate {
  transition: all .5s;
}

#game_3 .button-gate:hover #gate {
  bottom: 50%;
}

#game_3 .button-gate {
  cursor: pointer;
  background: none;
  border: 5px solid var(--color-neutral-100);
}

#game_3 .button-gate:hover {
  border-color: var(--color-yellow-500);
}