#game_3 {
  display: flex;
  gap: var(--spacing-8);
  flex-direction: column;
  padding-inline: var(--spacing-8);
}

#game_3 #header {
  text-align: center;
}

#game_3 #header h2 {
  color: var(--color-neutral-100);
  font-size: var(--text-4xl);
}

#game_3 #main {
  display: flex;
  text-align: center;
  align-items: center;
  gap: var(--spacing-8);
  flex-direction: column;
}

#game_3 #main p {
  margin-bottom: var(--spacing-4);

  color: var(--color-neutral-100);
  font-size: var(--spacing-8);
}

#game_3 .button-gate {
  width: 256px;
  height: 256px;
  overflow: hidden;
  position: relative;
  
  box-sizing: content-box;
}

#game_3 .button-gate img {
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

#game_3 .button-gate #gate {
  transition: all .5s;
}

#game_3 .button-gate:hover #gate {
  bottom: 100px;
}

#game_3 .gates {
  display: flex;
  gap: var(--spacing-8);
}

#game_3 .button-gate {
  cursor: pointer;
  background: none;
  border: 5px solid var(--color-neutral-100);
}

#game_3 .button-gate:hover {
  border-color: var(--color-yellow-500);
}