* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}

#root {
  display: flex;
}

body {
  background-image: url('./assets/background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

main {
  flex: 1;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  
  border: 2px solid #ffa32f;
  width: auto;
  height: auto;

  margin: 3rem;

  backdrop-filter: blur(5px) brightness(50%);
}