* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}

:root {
  --white: #CED0D6;
  --blue: #3E59F8;
  --red: #EB0000;
  --green: #00FE00;
  --yellow: #FFFF01;
  --cyan: #00FFFF;
  --purple: #BD2BBB;
  --gray: #797979;
  --orange: #F99200;
}

#root {
  display: flex;
}

body {
  background-image: url('./assets/background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

main {
  flex: 1;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  
  border-left: 2px solid #FFA32F;
  height: 100%;

  backdrop-filter: blur(5px) brightness(50%);
}